{%extends 'base.html'%}
{%block title_block%}
<title>docter</title>
{%endblock%}
{%block body_block%}
<h1 class="text-center">Our docters</h1>
<hr>
<div class="container text-center">
{%for d in doctors%}
<div class="card text-center mx-3 my-5" style="width: 18rem; display:inline-block">

    <img src="{{d.doc_image.url}}" class=" card-img-top " height="350px" width="50%" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dr.{{d.doc_name}}</h5>
      <p class="card-text">{{d.doc_spec}}</p>
      <h6>{{d.dep_name}} Department</h6>

    </div>
  </div>

{%endfor%}
</div>


{%endblock%}